## Reading Data

In [ ]:
#Import 
with open('prices.csv', 'r') as file:
    prices = file.read()

print(prices)

In [5]:
#Import data in dataframe
import pandas as pd

price_df = pd.read_csv("prices.csv", names=['ticker', 'date', 'open', 'high', 'low',
                                             'close', 'volume', 'adj_close', 'adj_volume'])
price_df.head()

,ticker,date,open,high,low,close,volume,adj_close,adj_volume
0,ABC,2017-09-05,163.09,164.24,160.21,162.63,29417590.0,162.49,29414672.0
1,ABC,2017-09-06,162.85,162.46,159.99,161.13,21131267.0,162.44,21169319.0
2,ABC,2017-09-07,162.11,162.70,160.65,161.26,21722502.0,161.46,21719856.0
3,ABC,2017-09-08,160.41,160.89,159.31,158.05,28311012.0,158.26,28305810.0
4,ABC,2017-09-11,161.09,162.14,159.54,161.29,31075573.0,160.97,31163734.0

## Inspecting Data

In [ ]:
#Info about the frame
price_df.info()

In [ ]:
#Descriptive statistics
price_df.describe()

In [11]:
#Checking for unique values in ticker
price_df.ticker.unique()

array(['ABC', 'EFG', 'XYZ'], dtype=object)

## DataFrame Calculation

In [ ]:
#Tickers by group
price_df_groupby_ticker = price_df.groupby('ticker')
#Median by ticker
price_df_groupby_ticker.median()

In [ ]:
#Mean by ticker
price_df_groupby_ticker.mean()